[nodes]
{% for host in hostsfile %}{{node}}{{loop.index0}}{{' '}}{{ host}}{% if not loop.last %}{% endif %}{% endfor %}


[generatorNode]
node3 {{traffic_node}}

[all:vars]
ansible_connection=ssh
ansible_user={{host_user}}
