[nodes]
{% for host in hostsfile %}{{host}}{% if not loop.last %}{% endif %}{% endfor %}


[generatorNode]
{{traffic_node}}

[dataServer]
{{ hostsfile[0] }}

[mylocal]
localhost ansible_connection=local


[all:vars]
ansible_connection=ssh
ansible_user={{host_user}}
node0={{ hostsfile[0][:15] }}
node1={{ hostsfile[1][:15] }}
node2={{ hostsfile[2][:15] }}
node3={{ traffic_node[:15] }}
root_path=/Users/dporter/projects/solrcloud/
main_class=com.mycompany.solrcloud.loadbalancer.DistributedWebServer
