---
# tasks file for upload_data
- name: include the vars
  include_vars: /Users/dporter/projects/solrcloud/playbooks/roles/upload_data/defaults/main.yml

- name: pull AWS 8983 index
  shell: aws s3 sync "s3://{{s3_bucket_name}}/{{ansible_subnet}}/{{collection_name}}/default" .
  ignore_errors: yes
  no_log: True

  args:
    chdir: '{{solr_home}}'

- name: pull AWS node__1 index
  shell: aws s3 sync "s3://{{s3_bucket_name}}/{{ansible_subnet}}/{{collection_name}}/node__1" .
  ignore_errors: yes
  no_log: True

  args:
    chdir: /users/dporte7/node__1


- name: pull AWS node__2 index
  shell: aws s3 sync "s3://{{s3_bucket_name}}/{{ansible_subnet}}/{{collection_name}}/node__2" .
  ignore_errors: yes
  no_log: True

  args:
    chdir: /users/dporte7/node__2


- name: pull AWS node__3 index
  shell: aws s3 sync "s3://{{s3_bucket_name}}/{{ansible_subnet}}/{{collection_name}}/node__3" .
  ignore_errors: yes
  no_log: True

  args:
    chdir: /users/dporte7/node__3
